{
    "app" : {
        "host" : "0.0.0.0",
        "port1" : 8080,
        "port2" : 8081
    },
    "path" : {
        "logfile" : "/log/babble.log",
        "url": "http://54.254.98.53:8080/"
    },
    "miscs" : {
        "max_entries" : 20
    },
    "bad_words" : ["shit", "fuck", "bitch", "idiot", "whore", "slut", "ass", "butt", 
        "gago", "gaga", "tanga", "puta", "tang", "punyeta", "tarantado", "ulol", "ulul", "walanghiya"]
}